target/
build/
.gradle/
.mvn/
.apt_generated/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/
bin/

HELP.md
.classpath
.factorypath
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr

!**/src/main/**
!**/src/test/**
